<mat-toolbar color="primary">
  <span>Scout App</span>
  <span class="scout-app-nav-fill"></span>
  <div *ngIf="user$ | async as user; else signIn" fxLayout="row">
    <button mat-icon-button (click)="onAddPerson()"><mat-icon>person_add</mat-icon></button>
    <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onLogout()">SIGN OUT</button>
    </mat-menu>
  </div>
  <ng-template #signIn>
    <span>
      <button mat-button (click)="onLogin()">SIGN IN</button>
    </span>
  </ng-template>
</mat-toolbar>

<router-outlet></router-outlet>

