<mat-list dense>
  <h3 matSubheader>SCOUT</h3>
  <mat-list-item>
    <div>1a - Oath, Law, Motto, Slogan</div>
    <mat-icon>check</mat-icon>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListIcon>check</mat-icon>
    <div matLine>1b - Explain scout spirit</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListIcon></mat-icon>
    <div matLine>1c - Demo sign, salute, handshake</div>
  </mat-list-item>
  <mat-list-item>1d - Describe First Class badge</mat-list-item>
  <mat-list-item>1e - Repeat/explain Outdoor Code</mat-list-item>
  <mat-list-item>1f - Repeat/explain Pledge of Allegiance</mat-list-item>
  <mat-list-item>2a - Four steps of scout advancement</mat-list-item>
  <mat-list-item>2a - Describe scout ranks</mat-list-item>
  <mat-list-item>2a - Describe merit badges</mat-list-item>
  <mat-list-item>3a - Explain patrol method and types</mat-list-item>
  <mat-list-item>4a - Square knot, half hitches, tautline</mat-list-item>
  <mat-list-item>4b - Proper care, whip &amp; fuse a rope</mat-list-item>
  <mat-list-item>5 - Demo pocketknife safety</mat-list-item>
  <mat-list-item>6 - Complete Parent Guide, earn Cyber Chip</mat-list-item>
  <mat-list-item>7 - Scoutmaster conference</mat-list-item>

  <h3 matSubheader>TENDERFOOT</h3>
  <mat-list-item>1a - Present yourself for camp</mat-list-item>
  <mat-list-item>1b - Pitch and sleep in tent</mat-list-item>
  <mat-list-item>1c - Tell how practiced Outdoor Code</mat-list-item>
  <mat-list-item>2a - Assist in cooking camp meal</mat-list-item>
  <mat-list-item>2b - Demonstrate safe food handling</mat-list-item>
  <mat-list-item>2c - Explain importance of eating together</mat-list-item>
  <mat-list-item>3a - Demo use of square knot</mat-list-item>
  <mat-list-item>3b - Demo use of two half hitches</mat-list-item>
  <mat-list-item>3c - Demo use of taut-line hitch</mat-list-item>
  <mat-list-item>3d - Demo care/use of knife, saw, ax</mat-list-item>
  <mat-list-item></mat-list-item>
</mat-list>
